/* CSS declarations go here */

body {
  font-family: sans-serif;
  color: #000d1a;
  background-color: white;
  background-image: linear-gradient(to bottom, white, white 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 90%;
  margin: 10px auto;
  min-height: 100px;
  background: white;
}

header {
  background: white;
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 3em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  background: white;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 10px;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1.5em;
}

.new-task input:focus {
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

header #login-buttons{
  float: right;
  font-size: 1.5em;
}

.delete {
  color: gray;
  float:right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;

}

li {
  color: #0d0d0d;
  font-size: 2em;
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: white solid 2px;
}

li .text {
  margin-left: 10px;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  border-bottom: white solid 2px;
}

header .hide-completed {
  float: right;
  color: gray;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding:  12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 10px;
  }
}
