extends layout

block content
	h3= title
	form#form_add_student(name="addstudent", method="post", action="/addstudent")
		span Name
		span &nbsp;
		input#input_name(type="text", placeholder="student", name="student")
		br
		br
		span Street
		span &nbsp;
		input#input_name(type="text", placeholder="street", name="street")
		br
		br
		span City
		span &nbsp;
		input#input_name(type="text", placeholder="city", name="city")
		br
		br
		span State
		span &nbsp;
		input#input_name(type="text", placeholder="state", name="state")
		br
		br
		span Sex
		span &nbsp;
		input#input_name(type="text", placeholder="sex", name="sex")
		br
		br
		span GPA
		span &nbsp;
		input#input_name(type="text", placeholder="gpa", name="gpa")
		br
		br
		button#submit_student(type="submit") submit