
/* =============================================================================
   My CSS
   ========================================================================== */

html,body{
	width:100%;
	height:100%;
	background:#000;
}

 body {

  background-color: black;

}

/* remove canvas default margin */
canvas{
	display:block;
	vertical-align:bottom;
}

#particles-js{
	width:100%;
	height:100%;
}